<!DOCTYPE html>
<html>
<head>
	<link rel="icon" type="image/jpeg" href="static/index.jpeg">
	<title>Thank You</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="text-center">
		<div class="jumbotron" align-self-center>
			<h1>Terima kasih atas partisipasi Anda :)</h1> 
		</div>
		<a href="/" class="btn btn-outline-primary" role="button">Home</a>
		<a href="/Result" class="btn btn-outline-success" role="button">Survey Result</a>	
	</div>
</body>
</html>
